/* SECTION - FONT */
@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-semi-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

html,
body {
    font-family: Archivo;
    font-weight: 300;
    background-color: black;
}

b,
strong {
    font-family: Archivo;
    font-weight: 700;
}

b.semi,
strong.semi {
    font-family: Archivo;
    font-weight: 600;
}

/* !SECTION - FONT */

/* SECTION - BUTTONS */
.button,
button {
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    border-width: 0;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;
}

.button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button.wide,
button.wide {
    padding: 0.25rem 1.5rem;
}

/* made to work with 25x25 icons */
.button.icon-35,
button.icon-35 {
    padding: 0 5px;
    border-radius: 32px;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    align-items: center;
}

.button.icon-35>img,
button.icon-35>img {
    margin: auto;
}

.button.primary,
button.primary {
    background-color: var(--highlight-color);
}

.button.primary:hover,
button.primary:hover {
    background-color: color-mix(in srgb, var(--highlight-color) 80%, black 20%);
}

.button.secondary,
button.secondary {
    background-color: var(--secondary-highlight-color);
}

.button.secondary:hover,
button.secondary:hover {
    background-color: color-mix(in srgb, var(--secondary-highlight-color) 80%, black 20%);
}

/* !SECTION - BUTTONS */

/* SECTION - SPACING */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.m-0 {
    margin: 0;
}

.my-05 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

/* !SECTION - SPACING */

/* SECTION - TEXT */
.text-light {
    color: var(--light-text-color);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-5 {
    font-size: 5rem;
}

.fs-45 {
    font-size: 4.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-25 {
    font-size: 2.5rem;
}

.fs-3 {
    font-size: 3rem;
}

.t-justify {
    text-align: justify;
    text-align-last: justify;
}

.t-uppercase {
    text-transform: uppercase;
}

/* !SECTION - TEXT */