/* navbar outer container */
#top-navbar {
    width: 65%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: auto;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
    #top-navbar {
        width: 95%;
    }
}

/* wrapper for logo that bring back to home */
#logo-link-wrapper {
    align-content: center;
}

#logo-link {
    height: 40px;
    display: inline-block;
}

/* nav menu wrapper */
#top-navbar>ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 2rem;
}

#top-navbar>ul>li {
    list-style: none;
}

#top-navbar>ul>li>a {
    color: var(--light-text-color);
    text-decoration: none;
}

#top-navbar>ul>li>a::after {
    display: block;
    content: '';
    background-color: var(--highlight-color);
    width: 0%;
    height: 2px;
    transition: 0.2s width, 0.2s background-color;
}

#top-navbar>ul>li>a.active::after,
#top-navbar>ul>li>a:hover::after {
    width: 100%;
}

/* shop and cart action wrapper */
#nav-cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-self: end;
}

#nav-cta-wrapper>a {
    color: var(--light-text-color);
    align-self: center;
    max-height: 35px;
}