/* SECTION - GENERICS */
html,
body {
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 2rem 0.25rem 2rem 0.25rem;
}

#discover-wrapper>h2,
#subscribe-header>h2,
#countdown-wrapper {
    color: white !important;
}

/* !SECTION - GENERICS */

/* SECTION - LOGO */
#logo-wrapper {
    text-align: center;
}

#logo-wrapper img {
    width: auto;
    max-height: 20vh;
}

/* !SECTION - LOGO */

#countdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
    text-transform: uppercase;
}

.time-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
}

.time-wrapper .label {
    font-weight: 400;
    font-size: 0.8rem;
}

.separator,
.time-wrapper .time {
    font-size: 2rem;
}

#subscribe-header,
#discover-wrapper>h2 {
    text-align: center;
}

#subscribe-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

#subscribe-header>* {
    display: inline;
}

/* INPUT STYLE */
button,
input {
    padding: 0.5rem 1rem;
    margin: 0;
    color: white;
}

input {
    border-radius: 1.5rem;
    border: 1px solid white;
    padding-right: 3rem;
    background-color: transparent;
    transition: all 0.2s ease;
    width: 100%;
}

input:active,
input:focus {
    box-shadow: inset 0px 0px 10px white;
}

button {
    border-radius: 0 1.5rem 1.5rem 0;

    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
}

button .normal {
    /* NOTE - done this way so the button have the same size when disabled and the spinner appear */
    width: 25px;
    height: 25px;
    border: 4px solid transparent;
}

.input-button-wrapper {
    position: relative;
}

.input-button-wrapper>button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

button:disabled,
input:disabled {
    opacity: 0.75;
}

button:disabled .normal {
    display: none;
}

/* SPINNING LOADER */
.custom-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #d6d6df;
    border-right-color: #f4f4f4;
    animation: s2 2s infinite linear;
    display: none;
}

button:disabled .custom-loader {
    display: inline-block;
}

@keyframes s2 {
    to {
        transform: rotate(1turn);
    }
}

#subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#mail-input .input-asterisk {
    position: absolute;
    top: 25%;
    left: -1rem;
}

/* SECTION - RESPONSE MODAL */
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    max-width: 600px;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background: rgb(51, 51, 51);
    font-weight: 700;
    text-align: center;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.hidden {
    display: none;
}

/* !SECTION - RESPONSE MODAL */

/* SECTION - CONTENT COLORS */
.red {
    color: rgb(255, 62, 62);
}

.green {
    color: greenyellow;
}

.grey {
    color: #808080;
}


/* ORANGE */
button.orange {
    background-color: #e84b0e;
    border: 1px solid #e84b0e;
}

button.orange:hover,
button.orange:active {
    background-color: #cf420c;
    border-color: #cf420c;
}

/* BLUE */
button.blue {
    background-color: #2171b2;
    border: 1px solid #2171b2;
}

button.blue:hover,
button.blue:active {
    background-color: #1c6097;
    border-color: #1c6097;
}

/* PURPLE */
button.purple {
    background-color: #992472;
    border: 1px solid #992472;
}

button.purple:hover,
button.purple:active {
    background-color: #831f62;
    border-color: #831f62;
}

/* GREEN */
button.green {
    background-color: #00ad2e;
    color: white;
    border: 1px solid #00ad2e;
}

button.green:hover,
button.green:active {
    background-color: #009426;
    border-color: #009426;
}

/* !SECTION - CONTENT COLORS */

/* UNTIL TABLET */
@media (min-width: 1200px) {
    main {
        row-gap: 2rem;
    }

    #logo-wrapper img {
        width: auto;
        max-height: 16vh;
    }

    #countdown-wrapper {
        width: 40%;
        margin: auto;
    }

    #discover-wrapper,
    #subscribe-wrapper {
        width: 50%;
        margin: auto;
    }

    #subscribe-form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    #subscribe-form>div:nth-child(1),
    #subscribe-form>div:nth-child(2) {
        width: 48%;
    }

    #subscribe-form>div:nth-child(3) {
        width: 100%;
    }
}

/* ONLY TABLET */
@media (min-width: 700px) and (max-width: 1200px) {

    #countdown-wrapper,
    #discover-wrapper,
    #subscribe-wrapper {
        width: 70%;
        margin: auto;
    }
}

/* MOBILE */
@media (max-width: 700px) {
    main {
        padding: 1rem;
        padding-bottom: 4rem;
    }

    #mail-input .input-asterisk {
        position: absolute;
        top: 25%;
        left: -0.7rem;
    }
}