---
import ColorPicker from "../components/ColorPicker/ColorPicker.astro";
---

<!-- INDEX STYLE -->
<link rel="stylesheet" href="/css/pages/index.css" />
<!-- SECTION - MAIN -->
<main>
    <!-- SECTION - HERO -->
    <div id="hero">
        <ColorPicker id="hero-color-picker" />
    </div>
    <!-- !SECTION - HERO -->
</main>
<!-- !SECTION - MAIN -->
