---
import ColorPicker from "../components/ColorPicker/ColorPicker.astro";
---

<!-- INDEX STYLE -->
<link rel="stylesheet" href="/css/pages/index.css" />
<!-- SECTION - MAIN -->
<main>
    <!-- SECTION - HERO -->
    <div id="hero">
        <div id="hero-3d-wrapper">
            <ColorPicker id="hero-color-picker" />
        </div>
        <div id="hero-cta">
            <strong> FULL-FRAME COVER <br /> FOR YOUR SMART GLASSES </strong>
            <div id="hero-cta-buttons">
                <a class="button primary">buy now</a>
                <a class="button secondary">discover</a>
            </div>
        </div>
    </div>

    <!-- !SECTION - HERO -->
</main>
<!-- !SECTION - MAIN -->
