---
import ColorPicker from "../components/ColorPicker/ColorPicker.astro";

interface Props {
    // CMS (fallback temporanei)
    heroTitle?: string;

    buyNowLabel?: string;
    buyNowAriaLabel?: string;

    discoverLabel?: string;
    discoverAriaLabel?: string;
}
const {
    heroTitle = "FULL-FRAME COVER <br/> FOR YOUR SMART GLASSES",

    buyNowLabel = "buy now",
    buyNowAriaLabel = "Buy now - vai alla pagina di acquisto",

    discoverLabel = "discover",
    discoverAriaLabel = "Discover - scopri il prodotto",
} = Astro.props;
---

<!-- INDEX STYLE -->
<link rel="stylesheet" href="/css/pages/index.css" />
<!-- SECTION - MAIN -->
<main>
    <!-- SECTION - HERO -->
    <div id="hero">
        <div id="hero-3d-wrapper">
            <ColorPicker id="hero-color-picker" />
        </div>

        <div id="hero-cta">
            <strong set:html={heroTitle
            }></strong>

            <div id="hero-cta-buttons">
                <a class="button primary" href="#" aria-label={buyNowAriaLabel}>
                    {buyNowLabel}
                </a>

                <a
                    class="button secondary"
                    href="#"
                    aria-label={discoverAriaLabel}
                >
                    {discoverLabel}
                </a>
            </div>
        </div>
    </div>
    <!-- !SECTION - HERO -->
</main>
<!-- !SECTION - MAIN -->
