.color-picker-wrapper {
    border: 2px solid white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.4rem 0.3rem;
    width: fit-content;
}

.color-picker-wrapper.big {
    border-radius: 3rem;
    gap: 0.6rem;
    padding: 0.5rem 0.6rem;
}

/* BUTTON + TEXT HOLDER */
.color-label {
    /* reset buttons styles */
    border-radius: 0;
    padding: 0;
    background-color: transparent;

    position: relative;
    transform: rotateZ(-90deg);
    transition: all 0.2s;
}

/* TEXT */
.color-label>strong {
    cursor: pointer;
    background-color: var(--secondary-highlight-color);
    color: white;

    opacity: 0;
    display: none;

    width: max-content;
    padding: 0.3rem 0.55rem;
    padding-right: 2rem;
    border-radius: 1rem;

    font-size: 0.45rem;

    position: absolute;
    right: -0.4rem;
    top: -0.15rem;

    transition: opacity 0.2s;

    z-index: 2;
}

.big .color-label>strong {
    padding: 1rem 1.5rem;
    padding-right: 3rem;
    border-radius: 2rem;

    font-size: 0.65rem;

    position: absolute;
    right: -0.4rem;
    top: -0.45rem;
}

/* POSITION ACTIVE/HOVER BUTTON */
.color-label.active,
.color-label:hover {
    transform: rotateZ(0deg);
}

/* ANIMATE TEXT */
.color-label.active>strong,
.color-label:hover>strong {
    display: inline;
    opacity: 1;
}

/* SECTION - HORIZONTAL ADJUSTMENT */
.color-picker-wrapper.horizontal {
    flex-direction: row;
    padding: 0.3rem 0.3rem;
    gap: 0.5rem;
}

.color-picker-wrapper.horizontal.big {
    border-radius: 2rem;
    gap: 0.6rem;
    padding: 0.5rem 0.9rem;
}

/* BUTTON + TEXT HOLDER */
.horizontal.big .color-label {
    transform: rotateZ(0deg);
}


/* POSITION ACTIVE/HOVER BUTTON */
.horizontal.big .color-label.active,
.horizontal.big .color-label:hover {
    transform: rotateZ(90deg);
}

/* TEXT */
.horizontal.big .color-label>strong {
    padding: 1rem 1.5rem;
    padding-right: 1.5rem;
    padding-left: 3rem;
    border-radius: 2rem;

    font-size: 0.65rem;

    position: absolute;
    right: -0.4rem;
    top: -0.45rem;
}


/* TEXT */
.horizontal .color-label>strong {
    transform: scale(-1, -1);
}

.color-picker-wrapper.hide .color-label>strong {
    display: none;
}

/* ANIMATE ACTIVE/HOVER DOT */
.color-picker-wrapper.horizontal .color-label.active .color,
.color-picker-wrapper.horizontal .color-label:hover .color {
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 45%);
}

/* !SECTION - HORIZONTAL ADJUSTMENT */

/* SECTION - PICKER COLORS */
.color {
    cursor: pointer;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: relative;
    z-index: 3;
}

/* TEXT */
.big .color {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.color.orange {
    background-color: var(--orange);
}

.color.yellow {
    background-color: var(--yellow);
}

.color.green {
    background-color: var(--green);
}

.color.shock-blue {
    background-color: var(--shock-blue);
}

.color.blue-navy {
    background-color: var(--blue-navy);
}

.color.ivory {
    background-color: var(--ivory);
}

.color.dark-blue-green {
    background-color: var(--dark-blue-green);
}

.color.fuchsia {
    background-color: var(--fuchsia);
}

/* !SECTION - PICKER COLORS */