/* SECTION - COLOR PICKER WRAPPER */
.color-picker-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 1rem;
    padding: 0.2rem;
    border: 2px solid white;
}

.color-picker-wrapper.horizontal {
    flex-direction: row;
}

.color-picker-wrapper.vertical {
    flex-direction: column;
}

/* !SECTION - COLOR PICKER WRAPPER */

/* SECTION - COLOR LABEL */
/* NOTE - color-label is a button */
.color-label {
    aspect-ratio: 1 / 1;
    padding: 0;
    position: relative;
    background-color: transparent;
}

.color-picker-wrapper.vertical .color-label {
    height: 8%;
    width: fit-content;
}

.color-picker-wrapper.horizontal .color-label {
    width: 8%;
    height: fit-content;
}

/* colored sphere */
.color-label>.color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

/* color label text */
.color-label>strong {
    position: absolute;
    width: 0;
    white-space: nowrap;
    opacity: 0;
    border-radius: 1rem;
    pointer-events: none;
    font-size: 0.8rem;
    align-content: center;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.color-label.active>strong,
.color-label:hover>strong {
    display: block;
    width: fit-content;
    background-color: var(--secondary-highlight-color);
    z-index: 0;
    opacity: 1;
}

/* VERTICAL ANIMATION HANDLING */
.color-picker-wrapper.vertical .color-label>strong,
.color-picker-wrapper.vertical .color-label>strong {
    padding-left: 130%;
    padding-right: 60%;
    left: -10%;
    top: -2px;
    bottom: -2px;
    transform: rotateZ(90deg);
    transform-origin: left;
}

.color-picker-wrapper.vertical .color-label.active>strong,
.color-picker-wrapper.vertical .color-label:hover>strong {
    transform: rotateZ(0deg);
}

/* HORIZONTAL ANIMATION HANDLING */
.color-picker-wrapper.horizontal .color-label>strong,
.color-picker-wrapper.horizontal .color-label>strong {
    padding-left: 130%;
    padding-right: 50%;
    top: -2px;
    bottom: -2px;
    left: -2px;
}

.color-picker-wrapper.horizontal .color-label {
    transform: rotateZ(-0deg);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.color-picker-wrapper.horizontal .color-label.active,
.color-picker-wrapper.horizontal .color-label:hover {
    transform: rotateZ(-90deg);
}

.color-picker-wrapper.hide .color-label>strong {
    display: none;
}
/* !SECTION - COLOR LABEL */

/* SECTION - COLORS */
.color.RAL3002 {
    background-color: var(--RAL3002);
}

.color.RAL4006 {
    background-color: var(--RAL4006);
}

.color.RAL7036 {
    background-color: var(--RAL7036);
}

.color.RAL6037 {
    background-color: var(--RAL6037);
}

.color.RAL2008 {
    background-color: var(--RAL2008);
}

.color.RAL9001 {
    background-color: var(--RAL9001);
}

.color.RAL5015 {
    background-color: var(--RAL5015);
}

.color.RAL1018 {
    background-color: var(--RAL1018);
}

/* .color.RAL1002 {
    background-color: var(--RAL1002);
} */

.color.RAL9005 {
    background-color: var(--RAL9005);
    box-shadow: inset 0px 0px 3px rgb(191, 191, 191);
}

/* !SECTION - COLORS */