---
import type { SiteNavigators } from "../../studio-lorika-ontop/sanity.types";
import { cleanHtml } from "../utils/clean-html";

interface Props {
    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators: SiteNavigators;
}

const {
    //SITE NAVIGATORS (NAVBAR & FOOTER)
    siteNavigators,
} = Astro.props;

const footerData = siteNavigators.footer;
---

<footer class="pt-2 pb-5">
    <div class="container">
        <!-- OWNERS -->
        <div set:html={cleanHtml(footerData?.leftBlock!)} />

        <!-- ADDRESS -->
        <div set:html={cleanHtml(footerData?.centerBlock!)} />

        <!-- SOCIAL -->
        <div>
            <b> {footerData?.rightBlock!} </b>
            <div id="socials-container" class="mt-05">
                <a href="#TODO" class="social-button large-icon">
                    <img
                        src="/images/logo/socials/facebook.svg"
                        alt="brand social logo"
                    />
                </a>
                <a href="#TODO" class="social-button super-large-icon">
                    <img
                        src="/images/logo/socials/instagram.svg"
                        alt="brand social logo"
                    />
                </a>
                <a href="#TODO" class="social-button super-small-icon">
                    <img
                        src="/images/logo/socials/tiktok.svg"
                        alt="brand social logo"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
